body {
  position: relative;
  margin: 0;
  padding: 50px;
  font-family: "Playfair Display", "Roboto";
  background: none;
}

@media (max-width: 500px) {
  .main,
  .footer {
    padding: 20px;
  }
}

/* Background shape */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: #0891B2;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3));
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header-header {
  font-size: 48px;
  margin: 10px 0px;
}

#profilePhoto  {
  max-width: 1000px;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


.about {
  max-width: 700px;
  width: 100%;
  height: auto;

  padding: 20px;
  background-color: white;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.about-text {
  padding-bottom: 24px;
}

/* My Work section */

.main {
  padding: 50px;
}

.main-header {
  font-size: 48px;
  margin: 10px 0px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  gap: 48px;
}

.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
}

.card-content {
  padding: 0px 32px 16px 32px;
}

.card-title {
  font-size: 24px;
  margin: 16px 0px 8px 0px;
}


/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 50px;
  position: relative;

  padding: 50px;
  margin-top: 50px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 50px);
  background-color: #0891B2;
  z-index: -1;
}

.footer-header {
  font-size: 48px;
}

.footerText {
  color: white;
  font-size: 24px;
}

.footer img {
  max-width: 700px;
  width: 100%;
  height: auto;
}